.main__arrivals {
  background: #F8F3F4;
}

.main__arrivals-conteiner {
  margin: 0 auto;
  width: 1140px;
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.main__breadcrumb-list {
  display: flex;
}

.breadcrumb__item::after {
  content: '/';
  color: #636363;
  padding: 0 4px 0 4px;
}

.breadcrumb__item-link {
  text-decoration: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb__item-active .breadcrumb__item-link {
  text-decoration: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.main__filter {
  margin: 0 auto;
}

.main__filter-conteiner {
  margin: 0 auto;
  width: 1140px;
  height: 133px;
  display: flex;
  align-items: center;
}

.main__filter-btn {
  width: 360px;
  display: flex;
  justify-content: start;
  border: none;
  background-color: white;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.filter__btn-icon {
  padding-left: 11px;
}

.main__filter-list {
  width: 360px;
  display: flex;
  justify-content: start;
  padding-left: 30px;
}

.filter__item {
  padding-right: 28px;
}

.filter__item-btn {
  border: none;
  background-color: white;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter__item-btn-icon {
  padding-left: 5px;
}

.main__product .product__list:nth-child(4),
.main__product .product__list:nth-child(5),
.main__product .product__list:nth-child(6) {
  margin: 0 0 30px;
}

.main_pagination-conteiner {
  margin: 0 auto;
  width: 1140px;
  height: 188px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__item {
  width: 283px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EBEBEB;
}

.pagination__list {
  padding: 8px;
}

.pagination__link {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #6F6E6E;
  text-decoration: none;
}

.pagination__link-ellipsis {
  padding: 0px;
}

.pagination__list-ellipsis {
  padding: 0px;
}
